# Titanic - Machine Learning from Disaster - R

In [2]:
library(tidyverse)

── Attaching core tidyverse packages ──────────────────────────────────────────────────────────────── tidyverse 2.0.0 ──
✔ dplyr     1.1.0     ✔ readr     2.1.4
✔ forcats   1.0.0     ✔ stringr   1.5.0
✔ ggplot2   3.4.1     ✔ tibble    3.1.8
✔ lubridate 1.9.2     ✔ tidyr     1.3.0
✔ purrr     1.0.1
── Conflicts ────────────────────────────────────────────────────────────────────────────────── tidyverse_conflicts() ──
✖ dplyr::filter() masks stats::filter()
✖ dplyr::lag()    masks stats::lag()
ℹ Use the conflicted package (<http://conflicted.r-lib.org/>) to force all conflicts to become errors

## LOAD DATA

In [3]:
train_data <- read_csv(".\\input\\train.csv")
test_data <- read_csv(".\\input\\test.csv")

Rows: 891 Columns: 12
── Column specification ────────────────────────────────────────────────────────────────────────────────────────────────
Delimiter: ","
chr (5): Name, Sex, Ticket, Cabin, Embarked
dbl (7): PassengerId, Survived, Pclass, Age, SibSp, Parch, Fare

ℹ Use `spec()` to retrieve the full column specification for this data.
ℹ Specify the column types or set `show_col_types = FALSE` to quiet this message.
Rows: 418 Columns: 11
── Column specification ────────────────────────────────────────────────────────────────────────────────────────────────
Delimiter: ","
chr (5): Name, Sex, Ticket, Cabin, Embarked
dbl (6): PassengerId, Pclass, Age, SibSp, Parch, Fare

ℹ Use `spec()` to retrieve the full column specification for this data.
ℹ Specify the column types or set `show_col_types = FALSE` to quiet this message.

## A LOOK AT DATA

In [5]:
train_data

    PassengerId Survived Pclass
1    1          0        3
2    2          1        1
3    3          1        3
4    4          1        1
5    5          0        3
6    6          0        3
7    7          0        1
8    8          0        3
9    9          1        3
10  10          1        2
11  11          1        3
12  12          1        1
13  13          0        3
14  14          0        3
15  15          0        3
16  16          1        2
17  17          0        3
18  18          1        2
19  19          0        3
20  20          1        3
21  21          0        2
22  22          1        2
23  23          1        3
24  24          1        1
25  25          0        3
26  26          1        3
27  27          0        3
28  28          0        1
29  29          1        3
30  30          0        3
⋮   ⋮           ⋮        ⋮
862 862         0        2
863 863         1        1
864 864         0        3
865 865         0        2
866 866         1        2
867 867         1        2
868 868         0        1
869 869         0        3
870 870         1        3
871 871         0        3
872 872         1        1
873 873         0        1
874 874         0        3
875 875         1        2
876 876         1        3
877 877         0        3
878 878         0        3
879 879         0        3
880 880         1        1
881 881         1        2
882 882         0        3
883 883         0        3
884 884         0        2
885 885         0        3
886 886         0        3
887 887         0        2
888 888         1        1
889 889         0        3
890 890         1        1
891 891         0        3
    Name                                                      Sex    Age SibSp
1   Braund, Mr. Owen Harris                                   male   22  1
2   Cumings, Mrs. John Bradley (Florence Briggs Thayer)       female 38  1
3   Heikkinen, Miss. Laina                                    female 26  0
4   Futrelle, Mrs. Jacques Heath (Lily May Peel)              female 35  1
5   Allen, Mr. William Henry                                  male   35  0
6   Moran, Mr. James                                          male   NA  0
7   McCarthy, Mr. Timothy J                                   male   54  0
8   Palsson, Master. Gosta Leonard                            male    2  3
9   Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)         female 27  0
10  Nasser, Mrs. Nicholas (Adele Achem)                       female 14  1
11  Sandstrom, Miss. Marguerite Rut                           female  4  1
12  Bonnell, Miss. Elizabeth                                  female 58  0
13  Saundercock, Mr. William Henry                            male   20  0
14  Andersson, Mr. Anders Johan                               male   39  1
15  Vestrom, Miss. Hulda Amanda Adolfina                      female 14  0
16  Hewlett, Mrs. (Mary D Kingcome)                           female 55  0
17  Rice, Master. Eugene                                      male    2  4
18  Williams, Mr. Charles Eugene                              male   NA  0
19  Vander Planke, Mrs. Julius (Emelia Maria Vandemoortele)   female 31  1
20  Masselmani, Mrs. Fatima                                   female NA  0
21  Fynney, Mr. Joseph J                                      male   35  0
22  Beesley, Mr. Lawrence                                     male   34  0
23  McGowan, Miss. Anna "Annie"                               female 15  0
24  Sloper, Mr. William Thompson                              male   28  0
25  Palsson, Miss. Torborg Danira                             female  8  3
26  Asplund, Mrs. Carl Oscar (Selma Augusta Emilia Johansson) female 38  1
27  Emir, Mr. Farred Chehab                                   male   NA  0
28  Fortune, Mr. Charles Alexander                            male   19  3
29  O'Dwyer, Miss. Ellen "Nellie"                             female NA  0
30  Todoroff, Mr. Lalio                                       male   NA  0
⋮   ⋮                                                         ⋮      ⋮   ⋮
862 Giles, Mr. Frederick Edward                               male   21  1
863 Swift, Mrs. Frederick Joel (Margaret Welles Barron)       female 48  0
864 Sage, Miss. Dorothy Edith "Dolly"                         female NA  8
865 Gill, Mr. John William                                    male   24  0
866 Bystrom, Mrs. (Karolina)                                  female 42  0
867 Duran y More, Miss. Asuncion                              female 27  1
868 Roebling, Mr. Washington Augustus II                      male   31  0
869 van Melkebeke, Mr. Philemon                               male   NA  0
870 Johnson, Master. Harold Theodor                           male    4  1
871 Balkic, Mr. Cerin                                         male   26  0
872 Beckwith, Mrs. Richard Leonard (Sallie Monypeny)          female 47  1
873 Carlsson, Mr. Frans Olof                                  male   33  0
874 Vander Cruyssen, Mr. Victor                               male   47  0
875 Abelson, Mrs. Samuel (Hannah Wizosky)                     female 28  1
876 Najib, Miss. Adele Kiamie "Jane"                          female 15  0
877 Gustafsson, Mr. Alfred Ossian                             male   20  0
878 Petroff, Mr. Nedelio                                      male   19  0
879 Laleff, Mr. Kristo                                        male   NA  0
880 Potter, Mrs. Thomas Jr (Lily Alexenia Wilson)             female 56  0
881 Shelley, Mrs. William (Imanita Parrish Hall)              female 25  0
882 Markun, Mr. Johann                                        male   33  0
883 Dahlberg, Miss. Gerda Ulrika                              female 22  0
884 Banfield, Mr. Frederick James                             male   28  0
885 Sutehall, Mr. Henry Jr                                    male   25  0
886 Rice, Mrs. William (Margaret Norton)                      female 39  0
887 Montvila, Rev. Juozas                                     male   27  0
888 Graham, Miss. Margaret Edith                              female 19  0
889 Johnston, Miss. Catherine Helen "Carrie"                  female NA  1
890 Behr, Mr. Karl Howell                                     male   26  0
891 Dooley, Mr. Patrick                                       male   32  0
    Parch Ticket           Fare     Cabin       Embarked
1   0     A/5 21171          7.2500 NA          S
2   0     PC 17599          71.2833 C85         C
3   0     STON/O2. 3101282   7.9250 NA          S
4   0     113803            53.1000 C123        S
5   0     373450             8.0500 NA          S
6   0     330877             8.4583 NA          Q
7   0     17463             51.8625 E46         S
8   1     349909            21.0750 NA          S
9   2     347742            11.1333 NA          S
10  0     237736            30.0708 NA          C
11  1     PP 9549           16.7000 G6          S
12  0     113783            26.5500 C103        S
13  0     A/5. 2151          8.0500 NA          S
14  5     347082            31.2750 NA          S
15  0     350406             7.8542 NA          S
16  0     248706            16.0000 NA          S
17  1     382652            29.1250 NA          Q
18  0     244373            13.0000 NA          S
19  0     345763            18.0000 NA          S
20  0     2649               7.2250 NA          C
21  0     239865            26.0000 NA          S
22  0     248698            13.0000 D56         S
23  0     330923             8.0292 NA          Q
24  0     113788            35.5000 A6          S
25  1     349909            21.0750 NA          S
26  5     347077            31.3875 NA          S
27  0     2631               7.2250 NA          C
28  2     19950            263.0000 C23 C25 C27 S
29  0     330959             7.8792 NA          Q
30  0     349216             7.8958 NA          S
⋮   ⋮     ⋮                ⋮        ⋮           ⋮
862 0     28134            11.5000  NA          S
863 0     17466            25.9292  D17         S
864 2     CA. 2343         69.5500  NA          S
865 0     233866           13.0000  NA          S
866 0     236852           13.0000  NA          S
867 0     SC/PARIS 2149    13.8583  NA          C
868 0     PC 17590         50.4958  A24         S
869 0     345777            9.5000  NA          S
870 1     347742           11.1333  NA          S
871 0     349248            7.8958  NA          S
872 1     11751            52.5542  D35         S
873 0     695               5.0000  B51 B53 B55 S
874 0     345765            9.0000  NA          S
875 0     P/PP 3381        24.0000  NA          C
876 0     2667              7.2250  NA          C
877 0     7534              9.8458  NA          S
878 0     349212            7.8958  NA          S
879 0     349217            7.8958  NA          S
880 1     11767            83.1583  C50         C
881 1     230433           26.0000  NA          S
882 0     349257            7.8958  NA          S
883 0     7552             10.5167  NA          S
884 0     C.A./SOTON 34068 10.5000  NA          S
885 0     SOTON/OQ 392076   7.0500  NA          S
886 5     382652           29.1250  NA          Q
887 0     211536           13.0000  NA          S
888 0     112053           30.0000  B42         S
889 2     W./C. 6607       23.4500  NA          S
890 0     111369           30.0000  C148        C
891 0     370376            7.7500  NA          Q

In [6]:
test_data

    PassengerId Pclass
1   892         3
2   893         3
3   894         2
4   895         3
5   896         3
6   897         3
7   898         3
8   899         2
9   900         3
10  901         3
11  902         3
12  903         1
13  904         1
14  905         2
15  906         1
16  907         2
17  908         2
18  909         3
19  910         3
20  911         3
21  912         1
22  913         3
23  914         1
24  915         1
25  916         1
26  917         3
27  918         1
28  919         3
29  920         1
30  921         3
⋮   ⋮           ⋮
389 1280        3
390 1281        3
391 1282        1
392 1283        1
393 1284        3
394 1285        2
395 1286        3
396 1287        1
397 1288        3
398 1289        1
399 1290        3
400 1291        3
401 1292        1
402 1293        2
403 1294        1
404 1295        1
405 1296        1
406 1297        2
407 1298        2
408 1299        1
409 1300        3
410 1301        3
411 1302        3
412 1303        1
413 1304        3
414 1305        3
415 1306        1
416 1307        3
417 1308        3
418 1309        3
    Name                                                            Sex    Age
1   Kelly, Mr. James                                                male   34.5
2   Wilkes, Mrs. James (Ellen Needs)                                female 47.0
3   Myles, Mr. Thomas Francis                                       male   62.0
4   Wirz, Mr. Albert                                                male   27.0
5   Hirvonen, Mrs. Alexander (Helga E Lindqvist)                    female 22.0
6   Svensson, Mr. Johan Cervin                                      male   14.0
7   Connolly, Miss. Kate                                            female 30.0
8   Caldwell, Mr. Albert Francis                                    male   26.0
9   Abrahim, Mrs. Joseph (Sophie Halaut Easu)                       female 18.0
10  Davies, Mr. John Samuel                                         male   21.0
11  Ilieff, Mr. Ylio                                                male     NA
12  Jones, Mr. Charles Cresson                                      male   46.0
13  Snyder, Mrs. John Pillsbury (Nelle Stevenson)                   female 23.0
14  Howard, Mr. Benjamin                                            male   63.0
15  Chaffee, Mrs. Herbert Fuller (Carrie Constance Toogood)         female 47.0
16  del Carlo, Mrs. Sebastiano (Argenia Genovesi)                   female 24.0
17  Keane, Mr. Daniel                                               male   35.0
18  Assaf, Mr. Gerios                                               male   21.0
19  Ilmakangas, Miss. Ida Livija                                    female 27.0
20  Assaf Khalil, Mrs. Mariana (Miriam")"                           female 45.0
21  Rothschild, Mr. Martin                                          male   55.0
22  Olsen, Master. Artur Karl                                       male    9.0
23  Flegenheim, Mrs. Alfred (Antoinette)                            female   NA
24  Williams, Mr. Richard Norris II                                 male   21.0
25  Ryerson, Mrs. Arthur Larned (Emily Maria Borie)                 female 48.0
26  Robins, Mr. Alexander A                                         male   50.0
27  Ostby, Miss. Helene Ragnhild                                    female 22.0
28  Daher, Mr. Shedid                                               male   22.5
29  Brady, Mr. John Bertram                                         male   41.0
30  Samaan, Mr. Elias                                               male     NA
⋮   ⋮                                                               ⋮      ⋮
389 Canavan, Mr. Patrick                                            male   21.0
390 Palsson, Master. Paul Folke                                     male    6.0
391 Payne, Mr. Vivian Ponsonby                                      male   23.0
392 Lines, Mrs. Ernest H (Elizabeth Lindsey James)                  female 51.0
393 Abbott, Master. Eugene Joseph                                   male   13.0
394 Gilbert, Mr. William                                            male   47.0
395 Kink-Heilmann, Mr. Anton                                        male   29.0
396 Smith, Mrs. Lucien Philip (Mary Eloise Hughes)                  female 18.0
397 Colbert, Mr. Patrick                                            male   24.0
398 Frolicher-Stehli, Mrs. Maxmillian (Margaretha Emerentia Stehli) female 48.0
399 Larsson-Rondberg, Mr. Edvard A                                  male   22.0
400 Conlon, Mr. Thomas Henry                                        male   31.0
401 Bonnell, Miss. Caroline                                         female 30.0
402 Gale, Mr. Harry                                                 male   38.0
403 Gibson, Miss. Dorothy Winifred                                  female 22.0
404 Carrau, Mr. Jose Pedro                                          male   17.0
405 Frauenthal, Mr. Isaac Gerald                                    male   43.0
406 Nourney, Mr. Alfred (Baron von Drachstedt")"                    male   20.0
407 Ware, Mr. William Jeffery                                       male   23.0
408 Widener, Mr. George Dunton                                      male   50.0
409 Riordan, Miss. Johanna Hannah""                                 female   NA
410 Peacock, Miss. Treasteall                                       female  3.0
411 Naughton, Miss. Hannah                                          female   NA
412 Minahan, Mrs. William Edward (Lillian E Thorpe)                 female 37.0
413 Henriksson, Miss. Jenny Lovisa                                  female 28.0
414 Spector, Mr. Woolf                                              male     NA
415 Oliva y Ocana, Dona. Fermina                                    female 39.0
416 Saether, Mr. Simon Sivertsen                                    male   38.5
417 Ware, Mr. Frederick                                             male     NA
418 Peter, Master. Michael J                                        male     NA
    SibSp Parch Ticket             Fare     Cabin           Embarked
1   0     0     330911               7.8292 NA              Q
2   1     0     363272               7.0000 NA              S
3   0     0     240276               9.6875 NA              Q
4   0     0     315154               8.6625 NA              S
5   1     1     3101298             12.2875 NA              S
6   0     0     7538                 9.2250 NA              S
7   0     0     330972               7.6292 NA              Q
8   1     1     248738              29.0000 NA              S
9   0     0     2657                 7.2292 NA              C
10  2     0     A/4 48871           24.1500 NA              S
11  0     0     349220               7.8958 NA              S
12  0     0     694                 26.0000 NA              S
13  1     0     21228               82.2667 B45             S
14  1     0     24065               26.0000 NA              S
15  1     0     W.E.P. 5734         61.1750 E31             S
16  1     0     SC/PARIS 2167       27.7208 NA              C
17  0     0     233734              12.3500 NA              Q
18  0     0     2692                 7.2250 NA              C
19  1     0     STON/O2. 3101270     7.9250 NA              S
20  0     0     2696                 7.2250 NA              C
21  1     0     PC 17603            59.4000 NA              C
22  0     1     C 17368              3.1708 NA              S
23  0     0     PC 17598            31.6833 NA              S
24  0     1     PC 17597            61.3792 NA              C
25  1     3     PC 17608           262.3750 B57 B59 B63 B66 C
26  1     0     A/5. 3337           14.5000 NA              S
27  0     1     113509              61.9792 B36             C
28  0     0     2698                 7.2250 NA              C
29  0     0     113054              30.5000 A21             S
30  2     0     2662                21.6792 NA              C
⋮   ⋮     ⋮     ⋮                  ⋮        ⋮               ⋮
389 0     0     364858               7.7500 NA              Q
390 3     1     349909              21.0750 NA              S
391 0     0     12749               93.5000 B24             S
392 0     1     PC 17592            39.4000 D28             S
393 0     2     C.A. 2673           20.2500 NA              S
394 0     0     C.A. 30769          10.5000 NA              S
395 3     1     315153              22.0250 NA              S
396 1     0     13695               60.0000 C31             S
397 0     0     371109               7.2500 NA              Q
398 1     1     13567               79.2000 B41             C
399 0     0     347065               7.7750 NA              S
400 0     0     21332                7.7333 NA              Q
401 0     0     36928              164.8667 C7              S
402 1     0     28664               21.0000 NA              S
403 0     1     112378              59.4000 NA              C
404 0     0     113059              47.1000 NA              S
405 1     0     17765               27.7208 D40             C
406 0     0     SC/PARIS 2166       13.8625 D38             C
407 1     0     28666               10.5000 NA              S
408 1     1     113503             211.5000 C80             C
409 0     0     334915               7.7208 NA              Q
410 1     1     SOTON/O.Q. 3101315  13.7750 NA              S
411 0     0     365237               7.7500 NA              Q
412 1     0     19928               90.0000 C78             Q
413 0     0     347086               7.7750 NA              S
414 0     0     A.5. 3236            8.0500 NA              S
415 0     0     PC 17758           108.9000 C105            C
416 0     0     SOTON/O.Q. 3101262   7.2500 NA              S
417 0     0     359309               8.0500 NA              S
418 1     1     2668                22.3583 NA              C

In [11]:
combined <- list(train_data, test_data)

In [12]:
combined

[[1]]
# A tibble: 891 × 12
   PassengerId Survived Pclass Name   Sex     Age SibSp Parch Ticket  Fare Cabin
         <dbl>    <dbl>  <dbl> <chr>  <chr> <dbl> <dbl> <dbl> <chr>  <dbl> <chr>
 1           1        0      3 Braun… male     22     1     0 A/5 2…  7.25 NA
 2           2        1      1 Cumin… fema…    38     1     0 PC 17… 71.3  C85
 3           3        1      3 Heikk… fema…    26     0     0 STON/…  7.92 NA
 4           4        1      1 Futre… fema…    35     1     0 113803 53.1  C123
 5           5        0      3 Allen… male     35     0     0 373450  8.05 NA
 6           6        0      3 Moran… male     NA     0     0 330877  8.46 NA
 7           7        0      1 McCar… male     54     0     0 17463  51.9  E46
 8           8        0      3 Palss… male      2     3     1 349909 21.1  NA
 9           9        1      3 Johns… fema…    27     0     2 347742 11.1  NA
10          10        1      2 Nasse… fema…    14     1     0 237736 30.1  NA
# … with 881 more rows, and 1 more variable: Embarked <chr>

[[2]]
# A tibble: 418 × 11
   PassengerId Pclass Name    Sex     Age SibSp Parch Ticket  Fare Cabin Embar…¹
         <dbl>  <dbl> <chr>   <chr> <dbl> <dbl> <dbl> <chr>  <dbl> <chr> <chr>
 1         892      3 Kelly,… male   34.5     0     0 330911  7.83 NA    Q
 2         893      3 Wilkes… fema…  47       1     0 363272  7    NA    S
 3         894      2 Myles,… male   62       0     0 240276  9.69 NA    Q
 4         895      3 Wirz, … male   27       0     0 315154  8.66 NA    S
 5         896      3 Hirvon… fema…  22       1     1 31012… 12.3  NA    S
 6         897      3 Svenss… male   14       0     0 7538    9.22 NA    S
 7         898      3 Connol… fema…  30       0     0 330972  7.63 NA    Q
 8         899      2 Caldwe… male   26       1     1 248738 29    NA    S
 9         900      3 Abrahi… fema…  18       0     0 2657    7.23 NA    C
10         901      3 Davies… male   21       2     0 A/4 4… 24.2  NA    S
# … with 408 more rows, and abbreviated variable name ¹​Embarked

In [13]:
summary(train_data)

  PassengerId       Survived          Pclass          Name
 Min.   :  1.0   Min.   :0.0000   Min.   :1.000   Length:891
 1st Qu.:223.5   1st Qu.:0.0000   1st Qu.:2.000   Class :character
 Median :446.0   Median :0.0000   Median :3.000   Mode  :character
 Mean   :446.0   Mean   :0.3838   Mean   :2.309
 3rd Qu.:668.5   3rd Qu.:1.0000   3rd Qu.:3.000
 Max.   :891.0   Max.   :1.0000   Max.   :3.000

     Sex                 Age            SibSp           Parch
 Length:891         Min.   : 0.42   Min.   :0.000   Min.   :0.0000
 Class :character   1st Qu.:20.12   1st Qu.:0.000   1st Qu.:0.0000
 Mode  :character   Median :28.00   Median :0.000   Median :0.0000
                    Mean   :29.70   Mean   :0.523   Mean   :0.3816
                    3rd Qu.:38.00   3rd Qu.:1.000   3rd Qu.:0.0000
                    Max.   :80.00   Max.   :8.000   Max.   :6.0000
                    NA's   :177
    Ticket               Fare           Cabin             Embarked
 Length:891         Min.   :  0.00   Length:891         Length:891
 Class :character   1st Qu.:  7.91   Class :character   Class :character
 Mode  :character   Median : 14.45   Mode  :character   Mode  :character
                    Mean   : 32.20
                    3rd Qu.: 31.00
                    Max.   :512.33